<mat-card class="container">
  <mat-card-header>
    <mat-card-title> Cadastrar Jogo </mat-card-title>
  </mat-card-header>
  <mat-card-content> </mat-card-content>
</mat-card>
<mat-select [(ngModel)]="TimeA">
  <mat-option *ngFor="let time of times" value="{{ time.id }}">
    {{ time.id }} - {{ time.nome }}
  </mat-option>
</mat-select>
<mat-select [(ngModel)]="TimeB">
  <mat-option *ngFor="let time of times" value="{{ time.id }}">
    {{ time.id }} - {{ time.nome }}
  </mat-option>
</mat-select>

<input (click)="cadastrarJogo()" type="submit">
