<mat-card class="container">
  <mat-card-header>
    <mat-card-title> Listar Jogos </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    
  
  </mat-card-content>
</mat-card>
<table>
  <thead>
  <th>#</th>
  <th>Time A</th>
  <th>-</th>
  <th>-</th>
  <th>Time B</th>
  <th>Palpitar</th>

  </thead>
  <tr *ngFor="let jogo of jogos">
    <td>{{ jogo.id }}</td>
    <td>{{ jogo.selecaoA.nome }}</td>
    <td>{{ jogo.golA }}</td>
    <td>{{ jogo.golB }}</td>
    <td>{{ jogo.selecaoB.nome }}</td>
    <td>
      <a routerLink="/pages/jogo/palpitar/{{jogo.id}}"> palpitar </a>
    </td>

  </tr>
</table>